Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: false
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
ColumnLimit: 150
ContinuationIndentWidth: 0
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IncludeCategories: 
  - Regex: ^<.*
    Priority: 1
  - Regex: ^".*
    Priority: 2
  - Regex: .*
    Priority: 3
IncludeIsMainRegex: ([-_](test|unittest))?$
IndentWidth: 2
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
TabWidth: 2
UseTab: Always
...
